<div class="breadcrumb bg-color-1">
    <div class=" breadcrumb-item active hb-dashboard ">
        <span class="text-dark ml-2">
            <strong>Sub Category List</strong>
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <a href="/admin/dashbord/subcategory/create" class="btn btn-primary">Add New</a>
        </div>

    </div>

    <table class="table table-striped table-sm bg-color-8 table-bordered table-responsive-sm mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>English Title</th>
                <th>Category</th>
                <th>Description</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{# each subcategory }} {{# each this}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.titleen}}</td>
                <td>{{this.category}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/admin/dashbord/subcategory/{{this.id}}/edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td>
                    <button data-toggle="modal" value={{this.id}} class="delete" data-target="#myModal">
                        <i class="fa fa-trash-o" aria-hidden="true"> </i>
                    </button>
                </td>
            
                <td>
                    <a href="/admin/dashbord/subcategory/{{this.id}}/view">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Confirm Delete</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-header">
                                Are you sure you want to delete the entry?
                            </div>
                            <div class="modal-footer">
                                <a href="" class="btn btn-danger yes">yes</a>
                            </div>
                        </div>

                    </div>
                </div>
            </tr>
            {{/each}} {{/each}}
        </tbody>
    </table>
</div>

<script src="/js/jquery.js"></script>
<script src="/jquery/subcat.js"></script>